.root {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 1100px; /* ограничение по минимальной ширине страницы */
  max-width: 1600px; /* ограничение по максимальной ширине страницы */
  margin: 0 auto; /* для экранов больше 1600px отцентрировали весь контент */
}