.header__title {
  position: absolute;
  align-self: center;
  font-size: 102px; /* размер шрифта */
  line-height: 96px; /* высота строки */
  font-weight: 600; /* начертание */
  width: 730px;
  margin-left: 64px;
  z-index: 3;      /* этот элемент лежит выше main-illustration */
}